---
http_interactions:
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/campaigns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29997'
      X-Ratelimit-Reset:
      - 597 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "campaignId": "O",
                "href": "https://api3.getresponse360.com/v3/campaigns/O",
                "name": "fzakaria",
                "description": "fzakaria",
                "languageCode": "EN",
                "isDefault": "true",
                "createdOn": "2017-05-16T02:31:07+0000"
            }
        ]
  recorded_at: Tue, 16 May 2017 06:16:39 GMT
recorded_with: VCR 3.0.3
