---
http_interactions:
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/custom-fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29998'
      X-Ratelimit-Reset:
      - 598 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "customFieldId": "o",
                "href": "https://api3.getresponse360.com/v3/custom-fields/o",
                "name": "age",
                "fieldType": "single_select",
                "valueType": "string",
                "type": "single_select",
                "hidden": "false",
                "values": [
                    "18-29",
                    "30-44",
                    "45-59",
                    "60+",
                    "<18"
                ]
            },
            {
                "customFieldId": "r",
                "href": "https://api3.getresponse360.com/v3/custom-fields/r",
                "name": "birthdate",
                "fieldType": "text",
                "valueType": "date",
                "type": "date",
                "hidden": "false",
                [...]
