---
http_interactions:
- request:
    method: post
    uri: https://api.getresponse.com/v3/contacts?campaign%5BcampaignId%5D=jeqeq1&customFieldValues%5BcustomFieldId%5D=n&customFieldValues%5Bvalue%5D%5B0%5D=white&dayOfCycle=10&email=email@example.com&ipAddress=89.206.36.193&name=First%2BName
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key ae3aff891998babfeb4e6919136bf850
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "httpStatus": 401,
            "code": 1014,
            "codeDescription": "Problem during authentication process, check headers!",
            "message": "Unable to authenticate request. Check credentials or authentication method details",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1014",
            "context": {
                "authenticationType": "auth_token"
            },
            "uuid": "3d88fc1d-02c9-4e31-8824-3871d8881140"
        }
  recorded_at: Thu, 11 May 2017 10:24:03 GMT
recorded_with: VCR 3.0.3
