---
http_interactions:
- request:
    method: post
    uri: https://api3.getresponse360.com/v3/contacts
    body:
      encoding: UTF-8
      string: '{"name":"Fai Zeck","email":"fai@fave.com","dayOfCycle":"10","campaign":{"campaignId":"O"},"customFieldValues":[{"customFieldId":"P","value":["Malaysia"]}],"ipAddress":"89.206.36.193"}'
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29996'
      X-Ratelimit-Reset:
      - 485 seconds
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 16 May 2017 06:13:35 GMT
recorded_with: VCR 3.0.3
