---
http_interactions:
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts?query%5Bemail%5D=ninet5269@yahoo.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key ae3aff891998babfeb4e6919136bf850
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29998'
      X-Ratelimit-Reset:
      - 525 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "contactId": "76x",
                "href": "https://api3.getresponse360.com/v3/contacts/76x",
                "name": "Friend",
                "email": "ninet5269@yahoo.com",
                "note": null,
                "origin": "import",
                "dayOfCycle": null,
                "changedOn": "2017-05-11T14:14:45+0000",
                "timeZone": "",
                "ipAddress": "",
                "activities": "https://api3.getresponse360.com/v3/contacts/76x/activities",
                "campaign": {
                    "campaignId": "A",
                    "href": "https://api3.getresponse360.com/v3/campaigns/A",
                    "name": "myfave"
                },
                "createdOn": "2017-05-11T14:14:45+0000",
                "scoring": null
            }
        ]
  recorded_at: Mon, 15 May 2017 16:45:22 GMT
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key ae3aff891998babfeb4e6919136bf850
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1009777'
      Totalpages:
      -[...]
