---
http_interactions:
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "httpStatus": 404,
            "code": 1013,
            "codeDescription": "The requested resource was not found",
            "message": "Resource not found",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/1013",
            "context": [
                "Could not find contact by id: contacts"
            ],
            "uuid": "2aea5559-7051-4f5b-9703-c3329cb0b516"
        }
  recorded_at: Tue, 16 May 2017 06:04:50 GMT
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29999'
      X-Ratelimit-Reset:
      - 600 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "contactId": "deSB",
                "href": "https://api3.getresponse360.com/v3/contacts/deSB",
                "name": "First Name",
                "email": "faizal@kfit.com",
                "note": null,
                "origin": "api",
                "dayOfCycle": "10",
                "changedOn": "2017-05-16T05:29:29+0000",
                "timeZone": "Asia/Singapore",
                "ipAddress": "196.52.34.9",
                "activities": "https://api3.getresponse360.com/v3/contacts/deSB/activities",
                "campaign": {
                    "campaignId": "O",
                    "href": "https://api3.getresponse360.com/v3/campaigns/O",
                    "name": "fzakaria"
                },
                "createdOn": "2017-05-16T05:29:29+0000",
                "scoring": null
            }
        ]
  recorded_at: Tue, 16 May 2017 06:09:43 GMT
recorded_with: VCR 3.0.3
