---
http_interactions:
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts/contacts/params/each/resset/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "httpStatus": 404,
            "code": 100001,
            "codeDescription": "Route not found, please check url",
            "message": "Route not found - [requestedUrl => /v3/contacts/contacts/params/each/resset/contacts/, requestedMethod => GET]",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/100001",
            "context": {},
            "uuid": "dd12de07-ce2c-4af1-bbfb-b6d87eda11e2"
        }
  recorded_at: Tue, 16 May 2017 06:04:51 GMT
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts/params/each/resset/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "httpStatus": 404,
            "code": 100001,
            "codeDescription": "Route not found, please check url",
            "message": "Route not found - [requestedUrl => /v3/contacts/params/each/resset/contacts/, requestedMethod => GET]",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/100001",
            "context": {},
            "uuid": "40ed818b-e621-477c-8c5b-549e987b3420"
        }
  recorded_at: Tue, 16 May 2017 06:09:45 GMT
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts/resset/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
            "httpStatus": 404,
            "code": 100001,
            "codeDescription": "Route not found, please check url",
            "message": "Route not found - [requestedUrl => /v3/contacts/resset/contacts/, requestedMethod => GET]",
            "moreInfo": "https://apidocs.getresponse.com/en/v3/errors/100001",
            "context": {},
            "uuid": "5c4b774b-309f-4f1b-b761-81d4a0b87fd2"
        }
  recorded_at: Tue, 16 May 2017 06:14:09 GMT
- request:
    method: get
    uri: https://api3.getresponse360.com/v3/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Auth-Token:
      - api-key a38f3842a5d40bcf133fc224d6afca5e
      X-Domain:
      - myfave.getresponse360.com
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Totalcount:
      - '1'
      Totalpages:
      - '1'
      Currentpage:
      - '1'
      X-Ratelimit-Limit:
      - '30000'
      X-Ratelimit-Remaining:
      - '29998'
      X-Ratelimit-Reset:
      - 189 seconds
    body:
      encoding: ASCII-8BIT
      string: |-
        [
            {
                "contactId": "deSB",
                "href": "https://api3.getresponse360.com/v3/contacts/deSB",
                "name": "First Name",
                "email": "faizal@kfit.com",
                "note": null,
                "origin": "api",
                "dayOfCycle": "10",
                "changedOn": "2017-05-16T05:29:29+0000",
                "timeZone": "Asia/Singapore",
                "ipAddress": "196.52.34.9",
                "activities": "https://api3.getresponse360.com/v3/contacts/deSB/activities",
                "campaign": {
                    "campaignId": "O",
                    "href": "https://api3.getresponse360.com/v3/campaigns/O",
                    "name": "fzakaria"
                },
                "createdOn": "2017-05-16T05:29:29+0000",
                "scoring": null
            }
        ]
  recorded_at: Tue, 16 May 2017 06:16:35 GMT
recorded_with: VCR 3.0.3
